<div class="min-h-screen flex items-center justify-center bg-gray-100 p-4">
  <form
    class="shadow-lg rounded-lg p-8 bg-white w-full max-w-sm md:max-w-md lg:max-w-lg"
    [formGroup]="form"
    (ngSubmit)="login()"
  >
    <div class="mb-6 text-center">
      <h1 class="text-2xl font-bold text-gray-800">Login</h1>
      <h6 class="text-gray-600 text-sm">Login to your account</h6>
    </div>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-6">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="{{ hide ? 'password' : 'text' }}"
        formControlName="password"
      />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="hide = !hide" matSuffix class="cursor-pointer">
        {{ hide ? "visibility_off" : "visibility" }}
      </mat-icon>
    </mat-form-field>

    <button
      type="submit"
      [disabled]="!form.valid"
      class="w-full py-3 px-4 bg-purple-700 text-white font-semibold rounded-lg hover:bg-purple-800 disabled:bg-purple-700 transition duration-300"
    >
      Login
    </button>

    <div class="mt-6 text-center">
      <span class="text-gray-600 text-xs">Don't have an account?</span>
      <a
        class="text-purple-700 text- hover:underline block"
        [routerLink]="['/register']"
        >Register</a
      >
    </div>
  </form>
</div>
